option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    AWS_RDS: postgresql://***REMOVED*** 

packages:
  yum:
    amazon-linux-extras: []
    postgresql-devel: []

container_commands:
  01_postgres_activate:
      command: sudo amazon-linux-extras enable postgresql10
  02_postgres_install:
      command: sudo yum install -y postgresql-devel
  03_install_dependencies:
    command: "pip install psycopg2-binary"