option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    AWS_RDS: postgresql://***REMOVED***
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

packages:
  yum:
    amazon-linux-extras: []
    python3-devel: []
    libpq-devel: []

container_commands:
  01_install_deps:
    command: |
      dnf update -y
      dnf install -y libpq-devel
    ignoreErrors: false
  02_postgres_activate:
      command: sudo amazon-linux-extras enable postgresql10
  03_postgres_install:
      command: sudo yum install -y postgresql-devel
  04_install_dependencies:
    command: "pip install psycopg2-binary"